@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	scroll-behavior: smooth;
}

.carousel-selected{
	opacity: 1;
	transition: opacity 1000ms ease-in-out;
}

.animate-openLoad{
	opacity: 1;
	animation: openLoad 1s ease-in-out;
}

.animate-openLoadReverse{
	opacity: 1;
	animation: openLoadReverse 1s ease-in-out;
}

@keyframes openLoad{
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes openLoadReverse{
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

[data-scroll]{
  opacity: 0;
  will-change: scale, opacity;
	transform: scale(0.93);
  transition: all 1.5s  cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-scroll="in"]{
  opacity: 1;
  transform: translateY(0) scale(1);
}